In [12]:
import pandas as pd

bookings = pd.read_csv("../Datasets/bookings.csv", sep=";")
bookings_head = bookings.head(7)
# bookings.select_dtypes(include={'int64'})

In [13]:
# def default_names(name):
#     return name.replace(' ', '_').lower()
# 
# bookings.rename(columns=default_names, inplace=True)

bookings.rename(columns=lambda name: name.replace(' ', '_').lower(), inplace=True)
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [15]:
bookings.query('is_canceled == 0').groupby('country').aggregate({'is_canceled': 'count'}).sort_values(
    by='is_canceled', ascending=False).head(5)

         is_canceled
country
PRT            21071
GBR             9676
FRA             8481
ESP             6391
DEU             6069

In [6]:
bookings.groupby('hotel').aggregate({'stays_total_nights': 'mean'})

              stays_total_nights
hotel
City Hotel              2.978142
Resort Hotel            4.318547

In [7]:
bookings.query('assigned_room_type != reserved_room_type').shape

(14917, 21)

In [8]:
bookings[bookings['arrival_date_year'] == 2016].groupby('arrival_date_month').count().idxmax()
# bookings[bookings['arrival_date_year'] == 2017].groupby('arrival_date_month').count().idxmax()

hotel                        October
is_canceled                  October
lead_time                    October
arrival_full_date            October
arrival_date_year            October
arrival_date_week_number     October
arrival_date_day_of_month    October
stays_in_weekend_nights      October
stays_in_week_nights         October
stays_total_nights           October
adults                       October
children                     October
babies                       October
meal                         October
country                      October
reserved_room_type           October
assigned_room_type           October
customer_type                October
reservation_status           October
reservation_status_date      October
dtype: object

In [9]:
bookings.groupby(['arrival_date_year', 'arrival_date_month'])['is_canceled'].sum()

# bookings.groupby(['arrival_date_year', 'arrival_date_month'])['is_canceled'].sum().groupby('arrival_date_year').nlargest(1)

arrival_date_year  arrival_date_month
2015               August                1598
                   December               973
                   July                  1259
                   November               486
                   October               1732
                   September             2094
2016               April                 2061
                   August                1825
                   December              1398
                   February              1337
                   January                557
                   July                  1499
                   June                  2096
                   March                 1477
                   May                   1915
                   November              1636
                   October               2514
                   September             2022
2017               April                 2463
                   August                1816
                   February              1359
                   January               1250
                   July                  1984
                   June                  2439
                   March                 1672
                   May                   2762
Name: is_canceled, dtype: int64

In [10]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [11]:
bookings['total_kids'] = bookings['children'] + bookings['babies']
bookings.groupby('hotel').total_kids.mean().max().round(decimals=2)

0.14

In [16]:
import numpy as np

bookings['has_kids'] = np.where(bookings['total_kids'] > 0, True, False)

churn_rate = bookings.groupby('has_kids').aggregate({'is_canceled': ['sum', 'count']})
churn_rate['rate'] = (churn_rate[('is_canceled', 'sum')]/churn_rate[('is_canceled', 'count')]).round(4)

churn_rate

         is_canceled            rate
                 sum   count
has_kids
False          40965  110058  0.3722
True            3259    9332  0.3492

In [23]:
bookings.bottom()

AttributeError: 'DataFrame' object has no attribute 'bottom'