In [105]:
import pandas as pd

zaza = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')
zaza.rename(columns=lambda x: x.replace(' ', '_').lower(), inplace=True)
zaza

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [155]:
# data = zaza.groupby('lunch').aggregate(
#     {"reading_score mean": pd.Series.mean, 'writing_score': pd.Series.mean, 'math_score': pd.Series.mean, "reading_score": pd.Series.var, 'writing_score': pd.Series.var, 'math_score': pd.Series.var})

data = zaza.groupby('lunch')[["reading_score",'writing_score','math_score']].aggregate([pd.Series.mean, pd.Series.var])


list(data.filter(like="a").index)
# cnt = zaza.groupby('lunch').aggregate({"reading_score": pd.Series.count}).rename(
#     columns={"reading_score": "cnt"}).squeeze()
# cnt

ValueError: 0 is not in list

In [79]:
data['full_score'] = data['reading_score'] + data['writing_score'] + data['math_score']
data.drop(columns=['reading_score', 'writing_score', 'math_score'], axis=1, inplace=True)
# data['mean']=zaza[zaza['lunch'] == 'free/reduce'].mean()
# data['var']=data['full_score'].var()
data = data.squeeze()
data

lunch
free/reduced     66242
standard        137070
Name: full_score, dtype: int64

In [110]:
zaza[['reading_score','writing_score','math_score']]

     reading_score  writing_score  math_score
0               72             74          72
1               90             88          69
2               95             93          90
3               57             44          47
4               78             75          76
..             ...            ...         ...
995             99             95          88
996             55             55          62
997             71             65          59
998             78             77          68
999             86             86          77

[1000 rows x 3 columns]

In [81]:
data / cnt

lunch
free/reduced    186.597183
standard        212.511628
dtype: float64

In [126]:
data1 = zaza.query("lunch == 'free/reduced'")[['reading_score','writing_score','math_score']]
data2 = zaza.query("lunch == 'standard'")[['reading_score','writing_score','math_score']]

In [131]:
(data1.mean(), data1.var())

(reading_score    64.653521
 writing_score    63.022535
 math_score       58.921127
 dtype: float64,
 reading_score    221.871139
 writing_score    238.202881
 math_score       229.824270
 dtype: float64)

In [130]:
(data2.mean(), data2.var())

(reading_score    71.654264
 writing_score    70.823256
 math_score       70.034109
 dtype: float64,
 reading_score    191.285560
 writing_score    205.620887
 math_score       186.418089
 dtype: float64)